@charset "UTF-8";

/* Container div properties */
#ajax-loader
{
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* Full page div properties */
#ajax-loader-page
{
  background-color: #CCCCCC;
  height: 100%;
  opacity: 0.5;
  position: absolute;
  width: 100%;
}

/* Animation div properties */
#ajax-loader-circle-1
{
  animation: ajax-loader-spin 2s linear infinite;
  -moz-animation: ajax-loader-spin 2s linear infinite;
  -ms-animiation: ajax-loader-spin 2s linear infinite;
  -o-animation: ajax-loader-spin 2s linear infinite;
  -webkit-animation: ajax-loader-spin 2s linear infinite;
  border: 10px solid transparent;
  border-radius: 50%;
  border-bottom-color: #219DF3;
  height: 300px;
  margin-left: -150px;
  margin-top: -150px;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 300px;
}
#ajax-loader-circle-2
{
  animation: ajax-loader-spin 3s linear infinite;
  -moz-animation: ajax-loader-spin 3s linear infinite;
  -ms-animiation: ajax-loader-spin 3s linear infinite;
  -o-animation: ajax-loader-spin 3s linear infinite;
  -webkit-animation: ajax-loader-spin 3s linear infinite;
  border: 10px solid transparent;
  border-radius: 50%;
  border-bottom-color: #3B79A4;
  height: 270px;
  margin-left: -135px;
  margin-top: -135px;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 270px;
}
#ajax-loader-circle-3
{
  animation: ajax-loader-spin 1.5s linear infinite;
  -moz-animation: ajax-loader-spin 1.5s linear infinite;
  -ms-animiation: ajax-loader-spin 1.5s linear infinite;
  -o-animation: ajax-loader-spin 1.5s linear infinite;
  -webkit-animation: ajax-loader-spin 1.5s linear infinite;
  border: 10px solid transparent;
  border-radius: 50%;
  border-bottom-color: #555555;
  height: 240px;
  margin-left: -120px;
  margin-top: -120px;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 240px;
}

/* Key frame information for the spinning */
@keyframes ajax-loader-spin
{
  0% { opacity: 1; transform: rotate(0deg); }
  100% { opacity: 1; transform: rotate(360deg); }
}
@-moz-keyframes ajax-loader-spin
{
  0% { opacity: 1; -moz-transform: rotate(0deg); }
  100% { opacity: 1; -moz-transform: rotate(360deg); }
}
@-ms-keyframes ajax-loader-spin
{
  0% { opacity: 1; -ms-transform: rotate(0deg); }
  100% { opacity: 1; -ms-transform: rotate(360deg); }
}
@-o-keyframes ajax-loader-spin
{
  0% { opacity: 1; -o-transform: rotate(0deg); }
  100% { opacity: 1; -o-transform: rotate(360deg); }
}
@-webkit-keyframes ajax-loader-spin
{
  0% { opacity: 1; -webkit-transform: rotate(0deg); }
  100% { opacity: 1; -webkit-transform: rotate(360deg); }
}

/* Key frame information for hiding the unsupported message */
@keyframes ajax-loader-unsupported
{
  0% { opacity: 0; }
  100% { opacity: 0; }
}
@-moz-keyframes ajax-loader-unsupported
{
  0% { opacity: 0; }
  100% { opacity: 0; }
}
@-ms-keyframes ajax-loader-unsupported
{
  0% { opacity: 0; }
  100% { opacity: 0; }
}
@-o-keyframes ajax-loader-unsupported
{
  0% { opacity: 0; }
  100% { opacity: 0; }
}
@-webkit-keyframes ajax-loader-unsupported
{
  0% { opacity: 0; }
  100% { opacity: 0; }
}