@charset "UTF-8";

/* Remove Bootstrap rounded corners */
.btn, .form-control
{
  border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
}

.container
{
  max-width: 600px;
}

h3
{
  color: #337AB7;
}

h4
{
  color: #337AB7;
  margin-bottom: 5px;
}