@charset "UTF-8";

/* Remove Bootstrap rounded corners */
.btn, .form-control
{
  border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
}

/* Change the color of headings */
h3
{
  color: #337AB7;
}
h4
{
  color: #337AB7;
  margin-bottom: 5px;
}

/* Add extra padding to buttons */
.btn
{
  margin-bottom: 15px;
}

/* Add a line style */
.line
{
  background-color: #337AB7;
  height: 2px;
  margin-bottom: 10px;
}