@charset "UTF-8";

/* Remove Bootstrap rounded corners */
.btn,
.form-control,
.navbar
{
  border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
}

/* Style the title */
#header > a:first-of-type img
{
  vertical-align: top;
}
#header > a:last-of-type span
{
  color: #3B79A4;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  margin-top: 7.5px;
}
#header > a:hover,
#header > a:focus
{
  text-decoration: none;
}

/* Style the navigation bar */
.navbar
{
  background-image: -moz-linear-gradient(top, #219DF3, #555555);
  background-image: -ms-linear-gradient(top, #219DF3, #555555); 
  background-image: -o-linear-gradient(top, #219DF3, #555555); 
  background-image: -webkit-linear-gradient(top, #219DF3, #555555); 
  background-image: linear-gradient(#219DF3, #555555); 
  border-color: #555555;
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#219DF3', EndColorStr='#555555')";
  margin-bottom: 15px;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#219DF3', EndColorStr='#555555')";
}
#navbar-items a
{
  color: #FFFFFF;
}
#navbar-items .active > a
{
  background-color: #000000;
}
#navbar-items .open > a,
#navbar-items a:hover,
#navbar-items a:focus
{
  background-color: #333333;
}
@media (max-width: 767px)
{
  .navbar .icon-bar
  {
    background-color: #FFFFFF;
  }
}
@media (min-width: 768px)
{
  #navbar-items
  {
    padding-left: 0;
  }
  #navbar-items .dropdown-menu :not(.active) a:not(:hover):not(:focus)
  {
    color: #333333;
  }
}

/* Add a line class */
.line
{
  background-color: #3B79A4;
  height: 2px;
  margin-bottom: 10px;
}

/* Add btn-green and btn-red classes */
.btn-green
{
  background-color: hsl(110, 56%, 16%);
  background-image: -moz-linear-gradient(top, #398F28, #193F11);
  background-image: -ms-linear-gradient(top, #398F28, #193F11);
  background-image: -o-linear-gradient(top, #398F28, #193F11);
  background-image: -webkit-linear-gradient(top, #398F28, #193F11);
  background-image: linear-gradient(#398F28, #193F11);
  background-repeat: repeat-x;
  border-color: #193F11;
  color: #FFFFFF;
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#398F28', EndColorStr='#193F11')";
  margin-top: 15px;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#398F28', EndColorStr='#193F11')";
}
.btn-red 
{
  background-color: hsl(0, 69%, 22%);
  background-image: -moz-linear-gradient(top, #b42121, #5e1111);
  background-image: -ms-linear-gradient(top, #b42121, #5e1111);
  background-image: -o-linear-gradient(top, #b42121, #5e1111);
  background-image: -webkit-linear-gradient(top, #b42121, #5e1111);
  background-image: linear-gradient(#b42121, #5e1111);
  background-repeat: repeat-x;
  border-color: #5E1111;
  color: #FFFFFF;
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#b42121', EndColorStr='#5e1111')";
  margin-top: 15px;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#b42121', EndColorStr='#5e1111')";
}
.btn-green:hover,
.btn-red:hover
{
  background-position: 0 -15px;
  color: #FFFFFF;
}

/* Style the footer */
#footer
{
  border-top: 2px solid #3B79A4;
  margin-bottom: 15px;
  margin-top: 15px;  
  padding-top: 5px;
}
#footer a
{
  color: #333333;
}
#footer a:hover,
#footer a:focus
{
  text-decoration: none;
}